.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
  font-synthesis: none;
  -moz-font-feature-settings: "kern";
}
body{
font-family: 'Nunito', sans-serif;
font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #4b4b5a;
  text-align: left;
  background-color: #fff;
  margin: 0;
  /*background-color: #f3f4f7;*/
  background-color: #F6F8FA;
  overflow-x: hidden;
  padding-bottom: 60px;
}
::-webkit-input-placeholder { /* Edge */
color: #d9d9d9;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #d9d9d9;
}

::placeholder {
color: #d9d9d9;
}

/*Theme Common CSS*/
ul,li,p,h1,h2,h3,h4,h5,h6{
padding: 0;
margin: 0;
}
.truncate{
white-space: nowrap;
text-overflow: ellipsis;
word-wrap: normal;
overflow: hidden;
display: block;
}
.brand-logo,.brand-logo:hover{
font-size: 24px;
  font-weight: 900;
  color: #4b4b5a;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 16px 0;
}
.pad0{
padding: 0 !important;
text-align: left;
}
.common-title{
font-size: 21px;
font-weight: 700;
position: relative;
top: 8px;
}
.common-btn,.common-ol-btn{
display: inline-block;
min-width: 120px;
text-align: center;
background-color: #5369f8;
  border-color: #5369f8;
  border: 1px solid transparent;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 24px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.common-btn:hover,.common-btn:focus{
  background-color: #2e49f7;
  border-color: #223ef6;
  text-decoration: none;
  color: #fff;
}
.common-ol-btn{
background-color: transparent;
border: 1px solid #d9d9d9;
color: #4b4b5a;
}
.common-ol-btn:hover,.common-ol-btn:focus{
background-color: #ff5c75;
  border-color: #ff5c75;
  text-decoration: none;
  color: #fff;
}
.common-wcard{
margin: 16px 0;
padding: 16px;
background-color: #fff;
border-radius: 5px;
}
.common-table th{
font-size: 16px;
background-color: #fcfcfc;
padding: 12px 8px;
font-weight: 600;
text-align: center !important;
}
.common-table td{
padding: 12px 8px;
}
.common-table tr:nth-child(even) {
  background: rgba(252,252,252,0.3);
}
.common-table .drop-down:after{
  content: '\2807';
  font-size: 30px;
  line-height: 19px;
  font-weight: 600;
  border: none;
  position: relative;
  top: 10px;
  color: #4b4b5a;
  text-decoration: none;
  opacity: 0.6;
}
.common-table .drop-down:hover{
text-decoration: none;
}
.common-table td.drop-down{
text-align: center;
}
.common-dropdown{
box-shadow: none !important;
border: none !important;
padding: 0 !important;
}
.common-dropdown a{
padding: 8px 20px !important;
  color: #4b4b5a !important;
  display: block;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  font-weight: 600;
  font-size: 15px!important;
}
.common-dropdown a:hover,.common-dropdown a:focus{
color: #5369f8 !important;
background-color: #f7f7ff !important;
}
.common-tabs{
border: none;
background-color: #fcfcfc;
}
.common-tabs a,.common-tabs a:hover,.common-tabs a:focus{
padding: 12px 32px!important;
display: inline-block;
font-size: 18px;
color: #434c5a;
text-decoration: none;
border: none!important;
}
.common-tabs a:hover{
background-color: #f7f7ff!important;
}
.common-tabs a.active {
background-color: #fff;
}
.common-tab-cnt {
padding: 24px 16px;
background-color: #fff;
}
.common-show .basic-info label {
  padding: 14px 20px 0 0;
  font-weight: 300;
  font-size: 14px;
  display: block;
}
.common-show .basic-info li{
padding: 0 0 24px;
width: 24%;
display: inline-block;
}
.common-show .basic-info span{
padding: 8px 0 0;
font-weight: 600;
font-size: 18px;
}
.form-title{
font-size: 18px;
font-weight: 600;
margin: 0 0 16px;
}
.form-title span{
font-size: 12px;
color: #36c;
cursor: pointer;
}
.form-wrappers{
padding: 16px 0;
}
.common-form-fields li{
  display: inline-block;
  padding: 0 0 16px;
  width: 160px;
  margin: 20px;
}
.common-form-fields label{
display: block;
margin: 0 0 6px;
font-weight: 400;
font-size: 14px;
}
.common-form-fields input[type="text"],.common-form-fields select,.common-filters input[type="text"],.common-filters select{
  height: 40px;
  border: 1px solid #d9d9d9;
  -webkit-appearance: none;
  background: transparent;
  padding: 8px;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
  outline: none;
}
.common-form-fields textarea{
border: 1px solid #d9d9d9;
  -webkit-appearance: none;
  background: transparent;
  padding: 8px;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
  min-height: 160px;
}
.common-form-fields select,.common-filters select{
cursor: pointer;
  background: url(./images/arrow-bk.png) no-repeat 97% center;
  background-size: 12px;
}
.common-form-actions{

padding: 32px 0;
}
.common-form-actions li{
display: inline-block;
margin: 0 8px;
}
.common-filters{
padding: 0 0 16px;
}
.common-filters li{
display: inline-block;
width: 15%;
}
.common-form-list li{
display: inline-block;
list-style-type: none;
width: 18%;
  margin: 0 16px 16px 0;
}
.common-desc-field{
width: 50%;
}


/*Theme CSS Ends Here*/

/*Nav CSS Start Here*/
#tob-nav{
  padding: 0 22px 0 37px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
  box-shadow: 0 0.05rem 0.01rem rgba(75,75,90,.075);
}
.admin-block {
  float: right;
  width: 180px;
  padding: 8px 0;
}
.a-avatar-name {
  display: inline-block;
  font-weight: 600;
  font-size: 15px;
  margin: 6px 0 0;
  color: #4b4b5a;
  text-transform: capitalize;
}
.a-role {
  font-size: 13px;
  color: #4b4b5a;
  display: block;
  font-weight: 300;
}
.a-avatar img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  object-fit: cover;
  margin: 0;
  float: left;
  position: relative;
  top: 4px;
  left: -8px;
}
.admin-block .common-dropdown{
top: 60px;
min-width: 180px;
border-radius: 0!important;
}
#side-nav{
width: 230px;
  background: #fff;
  bottom: 0;
  padding: 0 0 30px 0;
  position: fixed;
  top: 72px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
  box-shadow: 1px 0.05rem 0.01rem rgba(75,75,90,.075);
  z-index: 99;
}
#side-nav ul.side-nav-links{
padding: 24px 0 0;
}
#side-nav ul>li>a{
color: #4b4b5a;
display: block;
  padding: 12px 24px;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  -webkit-transition: all .4s;
  transition: all .4s;
  border-left: 3px solid transparent;
  text-decoration: none;
}
#side-nav ul>li>a:hover,#side-nav ul>li>a:focus{
color: #5369f8;
  text-decoration: none;
  background-color: #f7f7ff;
  border-left-color: #5369f8;
}
#side-nav ul>li>a img{
width: 21px;
margin: 0 10px 0 0;
}
#side-nav .separator{
opacity: 0.6;
margin: 8px;
border-bottom: 1px solid #d9d9d9;
}
/*Content CSS*/
#content-wrapper{
width: calc(100% - 262px);
margin: 94px 16px 16px 246px;
}
.kl-pg-top-rgt{
text-align: right;
}


/*Resource Add*/
.resource-new-address li{
width: 45%;
}
.rp-new-basic-info li{
width: 22%;
display: inline-block;
}
.rp-new-pic img{
width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
}
.rp-pic-wrapper{
position: relative;
}
.rp-pic-wrapper input{
  position: absolute;
  bottom: 5px;
  height: 45px;
  width: 100px;
  left: 4px;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
}
.rp-pic-wrapper a{
position: absolute;
  bottom: 0px;
  left: 3px;
  width: 105px;
  text-align: center;
  background: #0000009c;
  color: #fff;
  font-weight: 700;
  border-radius: 0 0 50px 50px;
  height: 50px;
  padding: 12px 0 0;
  font-size: 13px;
  cursor: pointer;
}
.resource-new .common-tabs a,.resource-new .common-tabs a:hover,.resource-new .common-tabs a:focus{
padding: 12px 16px!important;
}

/*Login Page*/
.login-card{
width: 400px;
  background: #fff;
  padding: 16px;
  margin: 120px auto 0;
  border-radius: 5px;
  box-shadow: 0 0 50px rgba(0,0,0,.1);
}
.login-card .brand-logo{
padding: 0 0 16px;
}
.input-group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
.input-group-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: .8rem .75rem;
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b4b5a;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #d9d9d9;
  border-radius: .3rem 0 0 .3rem
}
.login-title{
font-size: 18px;
margin: 0 0 16px;
}
.input-group input{
position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
}
.icon-dual {
  color: #6c757d;
  fill: rgba(108,117,125,.12);
}
.login-form li{
list-style-type: none;
margin: 0 0 16px;
}
.login-form  label{
display: block;
  margin: 0 0 6px;
  font-weight: 400;
  font-size: 14px;
}
.login-form input{
height: 42px;
  border: 1px solid #d9d9d9;
  -webkit-appearance: none;
  background: transparent;
  padding: 8px;
  border-radius: 0 3px 3px 0;
  font-size: 16px;
 
  outline: none;
}
.login-btn{
display: block;
width: 100%;
font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  background-color: #5369f8;
  border-color: #5369f8;

  padding: 8px;
  height: 42px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: .3rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.login-btn:hover {
  color: #fff;
  background-color: #2e49f7;
  border-color: #223ef6;
}
.login-form li.f-password{
text-align: right;
margin: 0 0 16px;
}
.login-form li.f-password a{
color: #6c757d;
text-decoration: underline;
}
.login-form svg{
  width: 24px;
}
.common-table select{
  width: 120px;
}
.common-table .dropdown-menu{
  min-width: 120px;
  right: 0;
  left: inherit;
}
.tickets-snap ul{
  padding: 0;
  margin: 0;
}
.tickets-snap li{
  list-style-type: none;
  padding: 0 0 8px;
}
.tickets-snap label{
  display: inline-block;
  font-weight: 700;
  width: 120px;
}
.rsnap-lft{
  float: left;
  width: 60%;
}
.rsnap-rgt{
  float: left;
  width: 40%;
}
.rsnap-title{
  display: block !important;
  text-transform: uppercase;
  font-size: 12px;
  color: #6C757D;
  font-weight: 600;
}
.rsnap-count{
  font-size: 32px;
  font-weight: 600;
  margin: 10px 0 0;
  display: block;
}
.rsnap-rgt img{
  width: 100%;
}
.font19 {
  font-size: 19px;
}
.text-success,.text-decline{
  color: #43D39E !important;
  font-size: 13px;
  font-weight: 700 !important;
  text-align: center;
  padding: 8px 0 0;
}
.text-decline{
  color: #FF5C75 !important;
}
.rd-title{
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #4B4B5A;
}

input[type="textarea"]{
  height: 120px;
}

.list-unstyled{
  text-align: left;
}

span,a{
  cursor: pointer;
}

.common-form-fields li:hover{
  cursor: pointer;
  background-attachment: gainsboro;
}